SPEAR_DATABASE_URL=postgresql://spear:spear@127.0.0.1:5432/spear
SPEAR_LOCAL_STORAGE_PATH=./data
SPEAR_LLM_BASE_URL=http://127.0.0.1:8001/v1
SPEAR_LLM_API_KEY=null
SPEAR_LLM_MODEL=gemma4-31b
SPEAR_GITLAB_URL=https://gitlab.internal.example
SPEAR_GITLAB_TOKEN=

